body{background: rgb(192,222,237);}

.zhihu-heading{  
	height: 60px;
	background: rgb(103,176,209);
	border:1px solid rgb(103,176,209);
	margin: 0 auto;
	width: 1000px;
	text-align: center;
}

.zhihu-top-heading{
	height: 100px;
	margin: 0 auto;
	text-align: center;
}

.zhihu-main-title{font-size: 40px;}

.zhihu-help-block{
	color: #7f8c8d;
	margin-top: 5px;
}

.zhihu-body{
	width: 1000px;
	margin: 0px auto;
	height: 200px;
	margin-top: 20px;
}

.main-news-panel{
	float: left;
	width: 175px;
	background: rgb(58,190,192);
	margin-right: 23px;
	border:1px solid rgb(58,190,192);
	margin-bottom: 30px;
}

.main-news-panel:hover{border:1px solid #3498db;}

.main-news-panel-heading{
	height: 150px;
	margin-bottom: 15px;
}

.main-news-panel-heading img{
	width: 140px;
	height: 140px;
	border-radius: 70px;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 15px;
}

.main-news-panel-content{
	padding-left: 15px;
	padding-right: 15px;
}

.news-title{
	height: 70px;overflow: hidden;}

.news-title a{
	text-decoration: none;font-size: 16px;color: #ecf0f1;}

.news-title a:hover{color: #2c3e50;}

.news-date{
	margin-top: 5px;color: #ecf0f1;font-size: 12px;}

.zhihu-heading-menu{
	list-style: none;
	overflow: hidden;
	margin: 0;
	margin-left: -38px;
}

.zhihu-heading-menu li{
	float: left;
	border-right: 2px solid rgb(110,181,211);
	height: 60px;
	color: #ecf0f1;
	display: inline;
	padding: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.zhihu-heading-menu li:hover{
	cursor: pointer;background: rgb(81,176,220);}

.main-news-button{
	width: 100px;
	height: 30px;
	background: rgb(32,99,154);
	margin: 0 auto; 
	margin-bottom: 15px;
}

.main-news-button:hover{
	background: rgb(48,150,212);cursor: pointer;}

.main-news-button a{
	text-decoration: none;
	color: #ecf0f1;
	margin: 0 auto;
	margin-left: 20px;
}