body{background: rgb(192,222,237);}

.zhihu-heading{  
	height: 60px;
	background: rgb(103,176,209);
	border:1px solid rgb(103,176,209);
	margin: 0 auto;
	width: 1000px;
	text-align: center;
}

.zhihu-top-heading{
	height: 100px;
	margin: 0 auto;
	text-align: center;
}

.zhihu-heading-model{
	float: right;
	width: 23px;
	height: 63px;
	margin-top: -62px;
	margin-right: -1px;
	background: rgb(192,222,237);
}

.zhihu-main-title{font-size: 40px;}

.zhihu-help-block{
	color: #7f8c8d;
	margin-top: 5px;
}

.zhihu-body{
	width: 1000px;
	margin: 0px auto;
	height: 200px;
	margin-top: 20px;
}

.main-news-panel,.main-news-panel-before{
	float: left;
	width: 175px;
	background: rgb(58,190,192);
	margin-right: 23px;
	border:1px solid rgb(58,190,192);
	margin-bottom: 30px;
}

.main-news-panel-before{
	height: 150px;
	color: #ecf0f1;
	text-align: center;
}

.main-news-panel-before p{margin-top: 60px;}

.main-news-panel-before:hover{border:1px solid #3498db; 	}

.main-news-panel:hover{border:1px solid #3498db;}

.main-news-panel-heading{
	height: 150px;
	margin-bottom: 15px;
}

.main-news-panel-heading img{
	width: 140px;
	height: 140px;
	border-radius: 1px;
	margin-right: 10px;
	margin-left: 15px;
	margin-top: 15px;
}

.main-news-panel-content{
	padding-left: 15px;
	padding-right: 15px;
}

.news-title{
	height: 70px;overflow: hidden;}

.news-title a{
	text-decoration: none;font-size: 16px;color: #ecf0f1;}

.news-title a:hover{color: #2c3e50;}

.news-date{
	margin-top: 5px;color: #ecf0f1;font-size: 12px;}

.zhihu-heading-menu{
	list-style: none;
	overflow: hidden;
	margin: 0;
	margin-left: -38px;
}

.zhihu-heading-menu a{
	text-decoration: none;
	color: #ecf0f1;
}

.zhihu-heading-menu li{
	float: left;
	border-right: 2px solid rgb(110,181,211);
	height: 60px;
	color: #ecf0f1;
	display: inline;
	padding: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.zhihu-heading-menu li:hover{
	cursor: pointer;background: rgb(81,176,220);}

.menu-active{
	background: rgb(81,176,220);
}

.main-news-button{
	width: 100px;
	height: 30px;
	background: rgb(32,99,154);
	margin: 0 auto; 
	margin-bottom: 15px;
}

.main-news-button:hover{
	background: rgb(48,150,212);cursor: pointer;}

.main-news-button a{
	text-decoration: none;
	color: #ecf0f1;
	margin: 0 auto;
	margin-left: 20px;
}

.footer{
	margin:0 auto;
	padding: 10px;
	width: 1000px;
	margin-top: 260px;
	text-align: center;
}

.footer span{color: #2980b9;}

.main-wrap{
	width:1000px;
	margin: 0 auto;
	margin-top: 5px;
}

.main-wrap-img{
	height: 340px;background: #ecf0f1;}

.main-wrap-img-top{height: 300px;}

.main-wrap-img-top img{width: 1000px;height: 300px;}

.main-wrap-img-foot{
	text-align: center;
	margin-top: -10px;
}

.main-wrap-text{
	margin-top: 5px;background: #ecf0f1;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 30px;
	white-space:normal;
}

.pageindex ul a{
	text-decoration: none;
	color: rgb(0,0,0);
}

.pageindex ul{
	list-style: none;border: 1px solid rgb(192,222,237);}

.pageindex ul li{
	float: left;
	margin-right: 5px;
	border: 1px solid rgb(110,181,211);
	padding-right: 10px;
	padding-left: 10px;
}

.pageindex ul li:hover{
	background: rgb(52,152,219);cursor: pointer;}

.contact-main-panel,.api-main-panel{
	background: #ecf0f1;
	width: 978px;
	border-bottom: 6px solid rgb(103,176,209);
}

.contact-main-panel{height: 300px;}

.hobby-card,.info-card{width: 978px;float: left;}

.contact-main-panel ul{list-style: none;}

.contact-main-panel ul li{
	float: left;
	margin-right: 10px;
	margin-top: 25px;
	color: rgb(85,85,85);
}

.contact-main-panel ul li:hover{color: rgb(153,153,153);}

.basic-info li{font-size: 30px;}

.api-main-text{
	margin-top: 15px;
	margin-left: 15px;
}